{erl_opts, [
	warn_export_all,
	warn_missing_spec
]}.
{deps, [
	{mongodb, ".*", {git, "git://github.com/ten0s/mongodb-erlang.git", {branch, "master"}}},
	{libuuid, "1.0.0", {git, "git://github.com/iamaleksey/libuuid.git", {branch, "master"}}},
	{getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.7.1"}}}
]}.
{deps_dir, "deps"}.
{lib_dirs, ["deps"]}.
{escript_name, "mongorollback"}.
{escript_incl_apps, [
	bson,
	mongodb,
	libuuid,
	getopt
]}.
